@{
    ViewData["Title"] = "Photos";
}

<div class="row">
    <h1>Photos</h1>
    <table id="photoTable" class="table table-striped">
        <thead>
            <tr>
                <td>
                    Photo Title
                </td>
                <td>
                    Album Name
                </td>
                <td>
                    Thumbnail
                </td>
            </tr>
        </thead>
    </table>
</div>

@section Scripts { 
    <script src="~/js/index.js"></script>
    <script>
        $(document).ready(function () {
            initDataTable('@Url.Action("Data", "Home")');
        });
    </script>
}